html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .importMain {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #ffffff;
  }
  
  .importInnerContainer {
    width: 30%;
  }
  
  .heading {
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
  }

